h1,h2,h3,h4,h5,h6 {
    font-family: 'Anton', sans-serif;
}

p {
    font-family: 'Abel', sans-serif;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 40px;
}

h4 {
    font-size: 32px;
}

h5 {
    font-size: 28px;
}

h6 {
    font-size: 24px;
}

.nav-item {
    font-family: 'Abel', sans-serif;
}

.abel-font {
    font-family: 'Abel', sans-serif;
}

.logo-nav {
    padding: 0;
}

.top-bar {
    height: 60px;
    background-color: lightgrey;
    z-index: 0;
}

.main-container {
    height: 100%;
    margin-top: 80px;
    background-color: lightgrey;
    z-index: 0;
    padding: 0;
}

.logo {
    z-index: 1000;
    position: absolute;
    margin: auto;
    top: -30px;
    left: 0;
    right: 0;
    height: 150px;
    width: 150px;
}

.circle {
    height: 150px;
    width: 150px;
    border: 8px solid white;
    border-radius: 50%;
    display: inline-block;
}

.red {
    background-color: #E6563B;
}

.orange {
    background-color: #EB9D3A
}

.green {
    background-color: #7CB06C;
}

.blue {
    background-color: #00ABA9;
}

.circle>h4 {
    margin-top: 35%;
    width: 100%;
    font-size: 2em;
    color: white;
}

.img-border {
    border: 10px solid #E6E6E6;
    border-radius: 5%;
    display: inline-block;
}

.xsmall-circle {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
}

.row {
    margin: 0 0;
}

.small-link {
    padding: 0.5rem 0.5rem;
}

/* Extra Small screens */
@media screen and (max-width: 575px) {
    .hidden-sm, .hidden-md, .hidden-lg, .hidden-hr, .hide-row, .hide-col {
        display: none!important;
    }

    .hide-lg-work {
        display: none;
    }

    .xs-h1 {
        font-size: 56px;
    }

    .xs-h2 {
        font-size: 40px;
    }

    .circle-col {
        padding-bottom: 1rem;
    }
}

/* Small screens */
@media screen and (min-width: 576px) {
    .hidden-xs, .hidden-md, .hidden-lg {
        display: none!important;
    }

    .hide-lg-work {
        display: none;
    }

    hr {
        width: 70%;
    }
    p {
        font-size: 14px;
    }

    .logo-nav {
        margin: 25px 0;
    }

    .main-container {
        margin-top: 0;
    }

    .circle {
        height: 100px;
        width: 100px;
        margin-left: 0;
    }

    .logo {
        top: -50px;
    }

    .nav-bar-small-left {
        padding-left: 61px;
        padding-right: 0;
    }

    .nav-bar-small-right {
        padding-left: 0;
        padding-right: 0;
    }

    .xs-h1 {
        font-size: 40px;
    }

    .xs-h2 {
        font-size: 30px;
    }

    .heading {
        padding-bottom: 2rem !important;
    }

    .circle>h4 {
        font-size: 1.5rem;
    }

    .xsmall-circle {
        height: 15px;
        width: 15px;
        border-radius: 50%;
        display: inline-block;
        font-size: 10px;
    }

    .circle-row {
        margin: 0 12%;
    }
}

/* Medium Screens */
@media screen and (min-width:768px) {
    .hidden-md {
        display: initial !important;
    }

    .d-flex {
        display: flex !important;
    }

    .hidden-xs, .hidden-sm, .hide-codeup-design, .hide-lg-work{
        display: none;
    }

    hr {
        width: 95%;
    }

    .logo {
        top: -45px;
        left: -52%;
    }

    .logo-nav {
        margin: 0;
    }

    .medium-nav {
        padding: 0;
    }

    .xs-h1 {
        margin-top: 80px;
    }

    #nav-links {
        padding-top: 10px;
    }
}

/* Large and XL */
@media (min-width: 992px) {
    /*body {*/
        /*margin: 0 10%;*/
        /*background-color: lightgrey;*/
    /*}*/
    .hide-work {
        display: none;
    }

    .col-lg-4, .col-lg-12 {
        padding: 15px;
    }
    
    .lg-header-text {
        padding-left: 20%;
        text-align: center!important;
    }

    .hide-lg-work {
        display: inherit;
    }

    .small-img {
        height: 50px;
        width: 50px;
        margin-right: 10px;
    }

    .span-text {
        font-family: 'Abel', sans-serif;
        padding-bottom: 5px;
    }

    #tweet-text {
        margin-top: 10px
    }

    #work-text-lg {
        padding-bottom: 0;
    }

    #work-text {
        padding-left: 30px;
        text-align: left !important;
    }

    #medium-ul {
        padding-right: 20px;
    }
}