h1,h2,h3,h4,h5,h6 {
    font-family: 'Anton', sans-serif;
}

p {
    font-family: 'Abel', sans-serif;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 40px;
}

h4 {
    font-size: 32px;
}

h5 {
    font-size: 28px;
}

.logo-nav {
    padding: 0;
}

.top-bar {
    height: 60px;
    background-color: lightgrey;
    z-index: 0;
}

.main-container {
    height: 100%;
    margin-top: 80px;
    background-color: lightgrey;
    z-index: 0;
    padding: 0;
}

.logo {
    z-index: 1000;
    position: absolute;
    top: -30px;
    left: 37%;
    height: 150px;
    width: 150px;
}

.circle {
    margin-left: 15%;
    height: 150px;
    width: 150px;
    border: 8px solid white;
    border-radius: 50%;
    display: inline-block;
}

.red {
    background-color: #E6563B;
}

.orange {
    background-color: #EB9D3A
}

.green {
    background-color: #7CB06C;
}

.blue {
    background-color: #00ABA9;
}

.circle>h4 {
    margin-top: 35%;
    width: 100%;
    color: white;
    font-weight: bold;
}

.img-border {
    border: 10px solid #E6E6E6;
    border-radius: 5%;
    display: inline-block;
}

.xsmall-circle {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
}
